[Unit]                             
Description=Prometheus Node Exporter
Documentation=https://github.com/ekuznetcov/msr_exporter
After=network-online.target

[Service]
User=root
EnvironmentFile=/etc/default/msr_exporter
ExecStart=/opt/msr_exporter/msr_exporter $OPTIONS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
